<div class="container">
<h1>Channel Data</h1>

<!-- <div id="messages">
	<%= render @messages %>
</div> -->


<div class="col-md-8">
<form>
	<label> Type in a number: </label><br>
	<input type="number" data-behavior="room_speaker">
</form>
</div>

<div id="channel_info" class="col-md-8 col-lg-8 pull-left">
    <table id="channel_details" class="table table-bordered">
    </table>
</div>

<div id="content_data" class="col-md-8 col-lg-8 pull-left">
    <table id="mostRecentData" class="table table-striped">
    </table>
</div>
</div>