<p class="pull-right"><a href="#">Back to top</a> </p>
            <p>&copy; ThingSpeak &middot;<a target="_blank" href="http://community.thingspeak.com/"> More Information </a> &middot;
               <a target="_blank" href="https://www.mathworks.com/help/thingspeak/"> Help</a> 
            </p>